* {
  font-family: 'Source Sans Pro';
  outline: none;
  margin: 0;
  padding: 0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.pd-clr-deepBlue {
  background-color: #3c0af0;
}

.pd-clr-deepBlueHover {
  background-color: #4f4cfc;
}

.pd-clr-lightgrey {
  background-color: #FAFAFA;
}

.pd-clr-darkGrey {
  background-color: #424242;
}

.pd-clr-errorRed {
  background-color: #c0392b;
}

.pd-clr-warningYellow {
  background-color: #FFCC00;
}

.pd-text-deepBlue {
  color: #3c0af0;
}

.pd-text-lightgrey {
  color: #FAFAFA;
}

.pd-text-errorRed {
  color: #c0392b;
}

.pd-text-warningYellow {
  color: #FFCC00;
}

.pd-card {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.pd-table {
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.pd-table thead {
  background-color: #E0E0E0;
}

.pd-table thead th {
  border: solid 1px lightgrey;
  padding: 8px;
}

.pd-table thead tr {
  border: solid 1px lightgrey;
  padding: 8px;
}

.pd-table tbody tr {
  padding: 8px;
  border: solid 1px lightgrey;
  text-align: center;
}

.pd-table tbody td {
  padding: 8px;
  border: solid 1px lightgrey;
  text-align: center;
}

.pd-table tbody td:hover {
  background-color: #FAFAFA;
}

.pd-sidemenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  width: 300px;
  background-color: #FFF;
  height: 100%;
  z-index: 9999;
  -webkit-transition: -webkit-transform ease-in-out 1s;
  transition: -webkit-transform ease-in-out 1s;
  transition: transform ease-in-out 1s;
  transition: transform ease-in-out 1s, -webkit-transform ease-in-out 1s;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.pd-sidemenu .pd-menu-item {
  width: calc(100% - 32px);
  height: 32px;
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pd-sidemenu .pd-menu-item:hover {
  cursor: pointer;
  background-color: #FAFAFA;
}

.pd-sidemenu .pd-menu-header {
  color: #989898;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
  width: calc(100% - 32px);
  height: 48px;
  border-bottom: solid 1px lightgrey;
}

.pd-sidemenu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.pd-input[type=text] {
  border: solid 1px lightgrey;
  border-radius: 4px;
  padding: 4px;
  -webkit-transition: border .5s;
  transition: border .5s;
}

.pd-input[type=text]:focus {
  border: solid 1px #3c0af0;
}

.pd-range[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

.pd-range[type=range]:focus {
  outline: none;
}

.pd-range[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: lightgrey;
}

.pd-range[type=range]::-webkit-slider-thumb {
  border: 1px solid lightgrey;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.pd-range[type=range]:focus::-webkit-slider-thumb, .pd-range[type=range]:focus::-moz-range-thumb, .pd-range[type=range]:focus::-ms-thumb {
  background: #3c0af0;
}

.pd-range[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background-color: lightgrey;
}

.pd-range[type=range]::-moz-range-thumb {
  border: 1px solid lightgrey;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px;
}

.pd-range[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.pd-range[type=range]::-ms-fill-lower {
  background: lightgrey;
  border-radius: 2.6px;
}

.pd-range[type=range]::-ms-fill-upper {
  background: lightgrey;
}

.pd-range[type=range]::-ms-thumb {
  border: 1px solid lightgrey;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: 2px;
}

.pd-button {
  border: solid 1px #3c0af0;
  background-color: #3c0af0;
  color: #FFF;
  border-radius: 4px;
  padding: 4px;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.pd-button.disabled {
  border: solid 1px #766cff;
  background-color: #766cff;
}

.pd-button.disabled:hover {
  cursor: default;
  background-color: #766cff;
  border: solid 1px #766cff;
}

.pd-button:hover {
  border: solid 1px #4f4cfc;
  background-color: #4f4cfc;
  cursor: pointer;
}

.pd-floating-action {
  border: solid 1px #3c0af0;
  background-color: #3c0af0;
  text-align: center;
  color: #FFF;
  border-radius: 50%;
  padding: 4px;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  cursor: pointer;
}

.pd-floating-action.disabled {
  border: solid 1px #766cff;
  background-color: #766cff;
}

.pd-floating-action.disabled:hover {
  cursor: default;
  background-color: #766cff;
  border: solid 1px #766cff;
}

.pd-floating-action:hover {
  border: solid 1px #4f4cfc;
  background-color: #4f4cfc;
}

.pd-fixed-action {
  position: fixed;
  right: 16px;
  bottom: 16px;
  border: solid 1px #3c0af0;
  background-color: #3c0af0;
  text-align: center;
  color: #FFF;
  border-radius: 50%;
  padding: 4px;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.pd-fixed-action.disabled {
  border: solid 1px #766cff;
  background-color: #766cff;
}

.pd-fixed-action.disabled:hover {
  cursor: default;
  background-color: #766cff;
  border: solid 1px #766cff;
}

.pd-fixed-action:hover {
  border: solid 1px #4f4cfc;
  background-color: #4f4cfc;
}

.pd-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px lightgrey;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow-y: scroll;
}

.pd-list .pd-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 8px);
  height: 32px;
  color: #424242;
  padding-left: 8px;
}

.pd-list .pd-list-item:hover {
  background-color: #FAFAFA;
}

.pd-tabbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 8 0 8;
}

.pd-tabbar .pd-tabbar-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: #3c0af0;
  width: 100%;
  height: 100%;
  -webkit-transition: background ease-in-out .3s;
  transition: background ease-in-out .3s;
  word-wrap: nowrap;
  min-width: 48px;
  white-space: nowrap;
  padding: 0 4 0 4;
}

.pd-tabbar .pd-tabbar-tab.active {
  -webkit-box-shadow: inset 0 -2px #3c0af0;
          box-shadow: inset 0 -2px #3c0af0;
}

.pd-tabbar .pd-tabbar-tab:hover {
  background-color: rgba(80, 10, 240, 0.2);
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #3c0af0;
          box-shadow: inset 0 -2px #3c0af0;
}

.pd-tabbar::-webkit-scrollbar {
  display: none;
}

.pd-tabslider {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 48px 1fr;
      grid-template-rows: 48px 1fr;
  border: solid 1px lightgrey;
}

.pd-tabslider-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 8 0 8;
}

.pd-tabslider-bar-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: #3c0af0;
  width: 100%;
  height: 100%;
  -webkit-transition: background ease-in-out .3s;
  transition: background ease-in-out .3s;
  word-wrap: nowrap;
  min-width: 48px;
  white-space: nowrap;
  padding: 0 4 0 4;
}

.pd-tabslider-bar-tab:hover {
  background-color: rgba(80, 10, 240, 0.2);
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #3c0af0;
          box-shadow: inset 0 -2px #3c0af0;
}

.pd-tabslider-bar-tab.active {
  -webkit-box-shadow: inset 0 -2px #3c0af0;
          box-shadow: inset 0 -2px #3c0af0;
}

.pd-tabslider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: solid 1px #FAFAFA;
}

.pd-tabslider-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  display: none;
}

.pd-tabslider-container-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pd-tabslider-container-item.active.left {
  -webkit-animation-name: tabsliderfromleft;
          animation-name: tabsliderfromleft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.pd-tabslider-container-item.active.right {
  -webkit-animation-name: tabsliderfromright;
          animation-name: tabsliderfromright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.pd-lightbox {
  height: 100%;
  width: 100%;
  background-color: #FAFAFA;
  will-change: top, left, right, bottom;
}

.pd-lightbox .image {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pd-lightbox .image img {
  height: 100%;
  width: 100%;
}

.pd-lightbox .image img:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.pd-lightbox .image.active {
  -webkit-animation-name: showLightbox;
          animation-name: showLightbox;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pd-lightbox .image.active img {
  -webkit-animation-name: enlargeImage;
          animation-name: enlargeImage;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pd-lightbox .image.active img:hover {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.pd-lightbox .image.deactivated {
  -webkit-animation-name: hideLightbox;
          animation-name: hideLightbox;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pd-lightbox .image.deactivated img {
  -webkit-animation-name: minimizeImage;
          animation-name: minimizeImage;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pd-preloader {
  background-color: #766cff;
  height: 4px;
  width: 100%;
}

.pd-preloader-indeterminate1 {
  height: 100%;
  -webkit-animation-name: preloader1;
          animation-name: preloader1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-color: #3c0af0;
}

.pd-preloader-indeterminate2 {
  height: 100%;
  -webkit-animation-name: preloader2;
          animation-name: preloader2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-color: #3c0af0;
}

.no-scrollbar {
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 576px) {
  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .hide-on-desktop {
    display: none;
  }
}

@-webkit-keyframes preloader1 {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes preloader1 {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@-webkit-keyframes preloader2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes preloader2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes tabsliderfromleft {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
    z-index: 1;
  }
  75% {
    opacity: 0.5;
    display: -webkit-box;
    display: flex;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes tabsliderfromleft {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
    z-index: 1;
  }
  75% {
    opacity: 0.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes tabsliderfromright {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
    z-index: 1;
  }
  75% {
    opacity: 0.5;
    display: -webkit-box;
    display: flex;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes tabsliderfromright {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
    z-index: 1;
  }
  75% {
    opacity: 0.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes showLightbox {
  1% {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  100% {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #424242;
    z-index: 9999;
  }
}

@keyframes showLightbox {
  1% {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  100% {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #424242;
    z-index: 9999;
  }
}

@-webkit-keyframes enlargeImage {
  1% {
    max-width: 35%;
    max-height: 30%;
  }
  100% {
    max-width: 90%;
    max-height: 80%;
  }
}

@keyframes enlargeImage {
  1% {
    max-width: 35%;
    max-height: 30%;
  }
  100% {
    max-width: 90%;
    max-height: 80%;
  }
}

@-webkit-keyframes hideLightbox {
  0% {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    background-color: #424242;
    z-index: 9999;
  }
  100% {
    z-index: initial;
    position: initial;
    left: initial;
    right: initial;
    top: initial;
    bottom: initial;
  }
}

@keyframes hideLightbox {
  0% {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    background-color: #424242;
    z-index: 9999;
  }
  100% {
    z-index: initial;
    position: initial;
    left: initial;
    right: initial;
    top: initial;
    bottom: initial;
  }
}

@-webkit-keyframes minimizeImage {
  0% {
    max-width: 90%;
    max-height: 80%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

@keyframes minimizeImage {
  0% {
    max-width: 90%;
    max-height: 80%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */